@{
    ViewData["Title"] = "Home Page";
}
<!-- v0.0.2.2 -->
<div class="container pt-0">
    <div class="row justify-content-center">
        <div class="col">
            
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <div class="mb-5 section text-dark p-3 text-center">
                <img class="img-fluid" width="250" height="auto" src="~/img/LoanCalculator.png" alt="Loan Calculator Logo"/>
                <div>
                    <br />
                    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="App">Try it out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <div class="section text-dark p-3 text-center">
                <img class="img-fluid me=2" width="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" />
                <img class="img-fluid me-2" width="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" />
                <img class="img-fluid me-2" width="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
                <br /><br />
                <img class="img-fluid me-2" width="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
                <img class="img-fluid me-2" width="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
            </div>
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
